<div class="second" >
  <div class="slider" >
    <div class="d-inline p-2 text-bg-dark first"><%= link_to "All Products", root_path %></div>
    <div class="d-inline p-2 text-bg-white second"><%= link_to "Active products", active_path%></div>
  </div>
  <table class="table table-striped-columns" >
    <thead>
      <tr>
        <th>Product</th>
        <th>description</th>
        <th>Price</th>
        <th>Capacity</th>
        <th>Status</th>
        <th>Active</th>
        <th>Order</th>
      </tr>  
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.title, product_path(product) %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.capacity %></td>
          <td><%= product.status %></td>
          <td><%= product.is_active %></td>
          <td><button class=" btn btn-light"><%= link_to "order", orders_new_path(product) %></button></td>
        </tr>
      <% end %>
    </tbody>
  </div>
</table>