<p class="special" >most sales product by quantity</p>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>description</th>
      <th>Price</th>
      <th>Capacity</th>
      <th>Status</th>
      <th>Active</th>
    </tr>  
  </thead>
  <tbody>
    <% @product_arr_q.each do |arr| %>
      <tr>
        <td><%= arr.title %> </td>
        <td><%= arr.description %> </td>
        <td><%= arr.price %> </td>
        <td><%= arr.capacity %> </td>
        <td><%= arr.status %> </td>
        <td><%= arr.is_active %> </td>
      <% end %>
  </tbody>
</table>
</table>
<p class="special" >most sales product by price</p>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>last name</th>
      <th>email</th>
      <th>phone</th>
    </tr>  
  </thead>
  <tbody>
    <% @customer_arr.each do |arr| %>
      <tr>
        <td><%= arr.first_name %> </td>
        <td><%= arr.last_name %> </td>
        <td><%= arr.email %> </td>
        <td><%= arr.phone_number %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="special" >most booked order of product</p>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>last name</th>
      <th>email</th>
      <th>phone</th>
    </tr>  
  </thead>
  <tbody>
    <% @customer_arr_booked.each do |arr| %>
      <tr>
        <td><%= arr.first_name %> </td>
        <td><%= arr.last_name %> </td>
        <td><%= arr.email %> </td>
        <td><%= arr.phone_number %> </td>
      </tr>
  <% end %>
  </tbody>
</table>
<p class="special" >most cancelled order of product</p>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>last name</th>
      <th>email</th>
      <th>phone</th>
    </tr>  
  </thead>
  <tbody>
    <% @customer_arr_cancelled.each do |arr| %>
      <tr>
        <td><%= arr.first_name %> </td>
        <td><%= arr.last_name %> </td>
        <td><%= arr.email %> </td>
        <td><%= arr.phone_number %> </td>
      </tr>
    <% end %>
  </tbody>
</table>